@model WebParaMelvin.Models.Usuario

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Usuario</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre_completo,"Nombre completo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre_completo, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.Nombre_completo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Confirmar Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="password" required onkeyup="chekPassword(this)" class="form-control" />
            <label hidden class="text-danger" id="lbe">Las Contraseñas no coiciden</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_rol, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Id_rol", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_rol, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" id="btnG" disabled />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Ver todos", "Index")
</div>
<script>
    function chekPassword(text) {
        fp = document.getElementById('Password');
        lbe = document.getElementById('lbe');
        btnG = document.getElementById('btnG');
        if (fp.value != text.value) {
            lbe.removeAttribute("hidden");
            btnG.setAttribute("disabled", "");
        }
        else {
            lbe.setAttribute("hidden","");
            btnG.removeAttribute("disabled");
        }
    }
</script>
@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")
}
