@model WebParaMelvin.Models.Audiometria

@{
    ViewBag.Title = "Editar";
    WebParaMelvin.Models.ceisamco_form_s_oEntities db = new WebParaMelvin.Models.ceisamco_form_s_oEntities();
    var fso = db.Formulario_S_O.FirstOrDefault(f => f.Id_Formulario_S_O == Model.Id_Formulario_S_O);
    var info = db.Info_general.FirstOrDefault(l => l.Id_Formulario_S_O == Model.Id_Formulario_S_O);
}

<h2>Editar</h2>
<script src="~/Scripts/Chart.js"></script>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode == 45) { return true; }
        if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57)))
            return false;
        return true;
    }
</script>
<style>
    input {
        margin: 0px 0px 0px 0px
    }

    select {
        margin: 4px
    }

    label {
        margin-left: 5px
    }

    input[type="checkbox"] {
        margin-left: 20px;
        margin-top: 0px;
        line-height: normal;
    }

    tr td {
        font: bold;
        font-weight: bold;
    }
</style>
<table style="width:100%;">
    <tr>
        <td colspan="5">&nbsp;</td>
        <td><strong>expediente No.</strong></td>
        <td class="form-control">&nbsp;&nbsp;@fso.Id_Formulario_S_O</td>
    </tr>
    <tr>
        <td><strong>Empresa:</strong></td>
        <td class="form-control" colspan="4">@fso.Empresa.Nombre</td>
        <td><strong>Fecha:</strong></td>
        <td class="form-control">&nbsp;&nbsp;@info.Fecha</td>
    </tr>
    <tr>
        <td><strong>Departamento:</strong></td>
        <td class="form-control">&nbsp;@info.Departamento</td>
        <td><strong>Posicion:</strong></td>
        <td class="form-control" colspan="4">&nbsp;&nbsp;@info.Posicion</td>
    </tr>
    <tr>
        <td><strong>Tipo evaluacion:</strong></td>
        <td class="form-control" colspan="6">&nbsp;&nbsp;@info.Tipo_de_evaluacion</td>
    </tr>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7"><h3>Datos Generales</h3><hr /></td>
    </tr>
    <tr>
        <td><strong>Nombre:</strong></td>
        <td class="form-control" colspan="2">@info.Nombre&nbsp;&nbsp;@info.Apellido&nbsp;&nbsp;@info.Apellido</td>
        <td><strong>Sexo:</strong></td>
        <td class="form-control">@info.Sexo</td>
        <td><strong>Cedula:</strong></td>
        <td class="form-control">&nbsp;&nbsp;@info.Cedula</td>
    </tr>
    <tr>
        <td><strong>Fecha de Nacimiento:</strong></td>
        <td class="form-control">@info.Fecha_de_nacimiento</td>
        <td><strong>Edad:</strong></td>
        <td class="form-control">@info.Edad</td>
        <td><strong>Id Empleado:</strong></td>
        <td class="form-control" colspan="2">@info.Id_Empleado</td>
    </tr>
</table>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id_AudioMetria)
    @Html.HiddenFor(model => model.Id_Formulario_S_O)
    @Html.HiddenFor(model => model.Firma)


    <div class="form-horizontal">
        <h4>Audiometria</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <table style="width:100%;">
            <tr>
                <td colspan="9" align="center">Anamnesis Auditiva</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td align="center">Si</td>
                <td align="center">No</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">Trabaja o ha trabajado en tareas ruidosas</td>
                <td> @Html.EditorFor(model => model.trabaja_trabajado_en_areas_ruidosas)</td>
                <td> @Html.CheckBox("Trabaja_trabajado_en_areas_ruidosas_no")</td>
                <td>&nbsp;</td>
                <td>Escucha musica alta o usa audifonos</td>
                <td> @Html.EditorFor(model => model.Escucha_musica_alta_o_usa_audifonos, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">Tipo de proteccion auditiva</td>
                <td>@Html.EditorFor(model => model.tipo_de_proteccion_auditiva)</td>
                <td>@Html.CheckBox("tipo_de_proteccion_auditiva_no")</td>
                <td>&nbsp;</td>
                <td>Horas desde la ultima exposicion</td>
                <td> @Html.EditorFor(model => model.Horas_desde_la_ultima_exposicion, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">Ha tenido infecciones en los oidos</td>
                <td>@Html.EditorFor(model => model.Ha_tenido_infecciones_en_los_oidos)</td>
                <td>@Html.CheckBox("Ha_tenido_infecciones_en_los_oidos_no")</td>
                <td>&nbsp;</td>
                <td>Exposicion</td>
                <td> @Html.EditorFor(model => model.Exposicion, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">Ha tenido zumbido en los oidos</td>
                <td>@Html.EditorFor(model => model.Ha_tenido_zumbido_en_los_oidos)</td>
                <td>@Html.CheckBox("Ha_tenido_zumbido_en_los_oidos_no")</td>
                <td>&nbsp;</td>
                <td>Entrenamiento recibido</td>
                <td> @Html.EditorFor(model => model.Entrenamiento_recibido, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">Ha estado en la milicia o el ejercito</td>
                <td>@Html.EditorFor(model => model.Ha_estado_en_la_milicia_o_el_ejercito)</td>
                <td>@Html.CheckBox("Ha_estado_en_la_milicia_o_el_ejercito_no")</td>
                <td>&nbsp;</td>
                <td>Autoevaluacion de su audicion</td>
                <td>@Html.EditorFor(model => model.Autoevaluacion_de_su_audicion_, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Otoscopia Izquierda</td>
                <td colspan="3">
                    <select name="Otoscopia_Izquierda" class="form-control">
                        @{
                            if (Model.Otoscopia_Izquierda != null)
                            {
                                switch (Model.Otoscopia_Izquierda.Trim())
                                {
                                    case "Sin patología aparente":
                                        {
                                            <option selected>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Acumulación de cerumen":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option selected>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Cuerpo extraño":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option selected>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Infección del canal auditivo o tímpano":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option selected>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Perforación del tímpano":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option selected>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Poca movilidad Timpánica":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option selected>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;

                                    case "Otra (Ver Comentarios)":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option selected>Otra (Ver Comentarios)</option>

                                        }
                                        break;


                                }
                            }
                            else
                            {

                                <option>Sin patología aparente</option>
                                <option>Acumulación de cerumen</option>
                                <option>Cuerpo extraño</option>
                                <option>Infección del canal auditivo o tímpano</option>
                                <option>Perforación del tímpano</option>
                                <option>Poca movilidad Timpánica</option>
                                <option>Otra (Ver Comentarios)</option>
                            }
                        }
                    </select>
                </td>
                <td>Otoscopia Derecha</td>
                <td colspan="2">

                    <select name="Otoscopia_Derecha" class="form-control">
                        @{
                            if (Model.Otoscopia_Derecha != null)
                            {
                                switch (Model.Otoscopia_Derecha.Trim())
                                {
                                    case "Sin patología aparente":
                                        {
                                            <option selected>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Acumulación de cerumen":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option selected>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Cuerpo extraño":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option selected>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Infección del canal auditivo o tímpano":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option selected>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Perforación del tímpano":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option selected>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;
                                    case "Poca movilidad Timpánica":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option selected>Poca movilidad Timpánica</option>
                                            <option>Otra (Ver Comentarios)</option>

                                        }
                                        break;

                                    case "Otra (Ver Comentarios)":
                                        {
                                            <option>Sin patología aparente</option>
                                            <option>Acumulación de cerumen</option>
                                            <option>Cuerpo extraño</option>
                                            <option>Infección del canal auditivo o tímpano</option>
                                            <option>Perforación del tímpano</option>
                                            <option>Poca movilidad Timpánica</option>
                                            <option selected>Otra (Ver Comentarios)</option>

                                        }
                                        break;


                                }
                            }
                            else
                            {

                                <option>Sin patología aparente</option>
                                <option>Acumulación de cerumen</option>
                                <option>Cuerpo extraño</option>
                                <option>Infección del canal auditivo o tímpano</option>
                                <option>Perforación del tímpano</option>
                                <option>Poca movilidad Timpánica</option>
                                <option>Otra (Ver Comentarios)</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Comentarios</td>
                <td colspan="7">@Html.TextAreaFor(model => model.Comentarios, htmlAttributes: new { @class = "form-control" })</td>
            </tr>
        </table>
        <h4>Audiometria</h4>
        <hr />
        <div class="col-md-2">

            <p class="control-label">Linea Base @info.Fecha.Value.ToShortDateString()</p>

        </div>

        <div class="col-md-5">
            <table style="width:400px; border:1px solid" border="0">
                <tr>
                    <td colspan="8" align="center">Oido izquierdo</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td style="border:1px solid;"> 500</td>
                    <td style="border:1px solid;">1K</td>
                    <td style="border:1px solid;">2K</td>
                    <td style="border:1px solid;">3K</td>
                    <td style="border:1px solid;">4K</td>
                    <td style="border:1px solid;">6K</td>
                    <td style="border:1px solid;">8K</td>
                </tr>
                <tr>
                    <td style="color:#0094ff">Linea Base</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_500, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_1K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_2K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_3K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_4K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_6K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_8K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                </tr>
                <tr>
                    <td>Prueba Actual</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_5002, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_1K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_2K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_3K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_4K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_6K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Oiz_8K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <table style="width:400px; border:1px solid" border="0">
                <tr>
                    <td colspan="8" align="center">Oido Derecho</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td style="border:1px solid;"> 500</td>
                    <td style="border:1px solid;">1K</td>
                    <td style="border:1px solid;">2K</td>
                    <td style="border:1px solid;">3K</td>
                    <td style="border:1px solid;">4K</td>
                    <td style="border:1px solid;">6K</td>
                    <td style="border:1px solid;">8K</td>
                </tr>
                <tr>
                    <td style="color:#ff0000">Linea Base</td>
                    <td>@Html.TextBoxFor(model => model.Ode_500, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_1K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_2K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_3K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_4K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_6K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_8K, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                </tr>
                <tr>
                    <td>Prueba acual</td>
                    <td>@Html.TextBoxFor(model => model.Ode_5002, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_1K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_2K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_3K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_4K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_6K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                    <td>@Html.TextBoxFor(model => model.Ode_8K2, htmlAttributes: new { @style = "width:37px", @onkeypress = "return isNumberKey(event)", @onkeyup = "DoGraphics()" })</td>
                </tr>
            </table>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div><p align="center" style="font-weight:bold">Audiograma Izquierdo</p></div>
                <canvas id="chart-area4" width="20" height="10"></canvas>
            </div>
            <div class="col-md-6">
                <div><p align="center" style="font-weight:bold">Audiograma Derecho</p></div>
                <canvas id="chart-area5" width="20" height="10"></canvas>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <label class="control-label">Resultado:</label>
        <select name="Resultado" class="form-control">

            @{
                if (Model.Resultado != null)
                {
                    switch (Model.Resultado.Trim())
                    {
                        case "Audición normal":
                            {
                                <option selected>Audición normal</option>
                                <option>Hipoacusia leve</option>
                                <option>Hipoacusia moderada</option>
                                <option>Hipoacusia severa</option>
                                <option>Hipoacusia profunda</option>
}
                            break;
                        case "Hipoacusia leve":
                            {
                                <option>Audición normal</option>
                                <option selected>Hipoacusia leve</option>
                                <option>Hipoacusia moderada</option>
                                <option>Hipoacusia severa</option>
                                <option>Hipoacusia profunda</option>
}
                            break;
                        case "Hipoacusia moderada":
                            {
                                <option>Audición normal</option>
                                <option>Hipoacusia leve</option>
                                <option selected>Hipoacusia moderada</option>
                                <option>Hipoacusia severa</option>
                                <option>Hipoacusia profunda</option>
}
                            break;
                        case "Hipoacusia severa":
                            {
                                <option>Audición normal</option>
                                <option>Hipoacusia leve</option>
                                <option>Hipoacusia moderada</option>
                                <option selected>Hipoacusia severa</option>
                                <option>Hipoacusia profunda</option>
}
                            break;
                        case "Hipoacusia profunda":
                            {
                                <option>Audición normal</option>
                                <option>Hipoacusia leve</option>
                                <option>Hipoacusia moderada</option>
                                <option>Hipoacusia severa</option>
                                <option selected>Hipoacusia profunda</option>
}
                            break;
                    }
                }
                else
                {
                    <option>Audición normal</option>
                    <option>Hipoacusia leve</option>
                    <option>Hipoacusia moderada</option>
                    <option>Hipoacusia severa</option>
                    <option>Hipoacusia profunda</option>
                }
            }
        </select>
    </div>
    <div>
        @Html.Label("Firma:", htmlAttributes: new { @class = "control-label" })

        @Html.TextBoxFor(model => model.Archivo, htmlAttributes: new { @class = "form-control", @type = "file" })
        @Html.ValidationMessageFor(model => model.Archivo, "", new { @class = "text-danger" })

    </div>

    <div>
        @Html.Label("Firma:", htmlAttributes: new { @class = "control-label" })

        @{
            try
            {
                var base64 = Convert.ToBase64String(Model.Firma);
                var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                <img src="@imgSrc" />
            }
            catch
            {

            }
        }

    </div>
    <div class="form-group">
        @Html.Label("Estado:", htmlAttributes: new { @class = "control-label" })

        @Html.DropDownList("Estado", new SelectList(new List<string>() { "Aplicada", "En proceso", "Finalizada" }), htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })

    </div>

    <div class="form-group" style="color:#ff0000">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Cancelar", "Details/" + Model.Id_Formulario_S_O, "Formulario_S_O")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    var oiz_500 = document.getElementById("Oiz_500");
    var Oiz_1K = document.getElementById("Oiz_1K");
    var Oiz_2K = document.getElementById("Oiz_2K");
    var Oiz_3K = document.getElementById("Oiz_3K");
    var Oiz_4K = document.getElementById("Oiz_4K");
    var Oiz_6K = document.getElementById("Oiz_6K");
    var Oiz_8K = document.getElementById("Oiz_8K");
    var oiz_5002 = document.getElementById("Oiz_5002");
    var Oiz_1K2 = document.getElementById("Oiz_1K2");
    var Oiz_2K2 = document.getElementById("Oiz_2K2");
    var Oiz_3K2 = document.getElementById("Oiz_3K2");
    var Oiz_4K2 = document.getElementById("Oiz_4K2");
    var Oiz_6K2 = document.getElementById("Oiz_6K2");
    var Oiz_8K2 = document.getElementById("Oiz_8K2");
    var Ode_500 = document.getElementById("Ode_500");
    var Ode_1K = document.getElementById("Ode_1K");
    var Ode_2K = document.getElementById("Ode_2K");
    var Ode_3K = document.getElementById("Ode_3K");
    var Ode_4K = document.getElementById("Ode_4K");
    var Ode_6K = document.getElementById("Ode_6K");
    var Ode_8K = document.getElementById("Ode_8K");
    var Ode_5002 = document.getElementById("Ode_5002");
    var Ode_1K2 = document.getElementById("Ode_1K2");
    var Ode_2K2 = document.getElementById("Ode_2K2");
    var Ode_3K2 = document.getElementById("Ode_3K2");
    var Ode_4K2 = document.getElementById("Ode_4K2");
    var Ode_6K2 = document.getElementById("Ode_6K2");
    var Ode_8K2 = document.getElementById("Ode_8K2");
    function DoGraphics() {
        var lineChartData1 = {
            labels: ["500", "1K", "2K", "3K", "4K", "6K", "8K"],
            datasets: [
                {
                    label: "Linea Base",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "#0094ff",
                    pointColor: "#0094ff",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [oiz_500.value, Oiz_1K.value, Oiz_2K.value, Oiz_3K.value, Oiz_4K.value, Oiz_6K.value, Oiz_8K.value]
                },
                {
                    label: "Prueba Actual",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#000",
                    pointColor: "#000",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [oiz_5002.value, Oiz_1K2.value, Oiz_2K2.value, Oiz_3K2.value, Oiz_4K2.value, Oiz_6K2.value, Oiz_8K2.value]
                }
            ]

        }
        var lineChartData2 = {
            labels: ["500", "1K", "2K", "3K", "4K", "6K", "8K"],
            datasets: [
                {
                    label: "Linea Base",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "#ff0000",
                    pointColor: "#ff0000",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [Ode_500.value, Ode_1K.value, Ode_2K.value, Ode_3K.value, Ode_4K.value, Ode_6K.value, Ode_8K.value]
                },
                {
                    label: "Prueba Actual",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "#000",
                    pointColor: "#000",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [Ode_5002.value, Ode_1K2.value, Ode_2K2.value, Ode_3K2.value, Ode_4K2.value, Ode_6K2.value, Ode_8K2.value]
                }
            ]

        }
        var ctx4 = document.getElementById("chart-area4").getContext("2d");
        window.myPie = new Chart(ctx4).Line(lineChartData1, {
            responsive: true,
            scaleOverride: true,
            scaleSteps: 10,
            scaleStepWidth: 10,
            scaleStartValue: 0
        });
        var ctx5 = document.getElementById("chart-area5").getContext("2d");
        window.myPie = new Chart(ctx5).Line(lineChartData2, {

            responsive: true,
            scaleOverride: true,
            scaleSteps: 10,
            scaleStepWidth: 10,
            scaleStartValue: 0
        });
    }
    DoGraphics();

</script>
